.drop-down {
  border-radius: 5px;
  background: $backround-color;
  margin: 30px 0px 0px 0px;
  max-height: 52px;
  transition: max-height 300ms ease-in-out;
  overflow: hidden;
  @include respond-to($small-screen) {
    max-height: 32px;
  }
  .top-bar {
    border-radius: 5px;
    background: $main-color;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    height: 32px;
    @include respond-to($small-screen) {
      padding: 0 10px;
    }
    h3 {
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      @include respond-to($small-screen) {
        font-size: 13px;
        line-height: 142.6%;
      }
    }
    img {
      cursor: pointer;
      @include respond-to($small-screen) {
        width: 25px;
      }
    }
  }
  // }
  .content-container {
    padding: 0px 20px;
    transition: padding 300ms ease-in-out;
    @include respond-to($small-screen) {
      padding: 0px 10px;
    }
    .equipment-list {
      margin: 0px;
      color: #ff6060;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.6%;
      list-style: none;
      padding-left: 0px;
      @include respond-to($small-screen) {
        font-size: 12px;
        line-height: 142.6%;
      }
    }
  }
}
.collapsed {
  height: 0;
  overflow: hidden;
}
.drop-down.not-collapsed {
  max-height: 1000px;
  .content-container {
    padding: 20px;
    @include respond-to($small-screen) {
      padding: 10px;
    }
  }
}
.arrow {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
.arrow-rotated {
  transform: rotate(-180deg);
  transition: transform 300ms ease-in-out;
}
