.drop-down {
  border-radius: 10px 10px 5px 5px;
  background: $backround-color;
  margin: 40px 0px 0px 0px;
  .top-bar {
    border-radius: 5px;
    background: $main-color;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    height: 32px;

    h3 {
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 34.224px */
    }
    img {
      cursor: pointer;
    }
  }
  .content-container {
    padding: 20px;
    p {
      margin: 0px;
      color: #ff6060;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.6%; /* 25.668px */
    }
    // animation: all 300ms ease-in-out;
  }
}
// @keyframes slide-in {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY (0%);
//   }
// }
