.image-gallery {
  height: 415px;
  position: relative;
  @include respond-to($small-screen) {
    height: 255px;
  }
  .housing-image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: opacity 300ms ease-in-out;
  }
  .image-gallery .housing-image:not(.current-image) {
    opacity: 0;
  }

  .left-arrow {
    width: 46.68px;
    height: 79.2px;
    flex-shrink: 0;
    position: absolute;
    // bottom: 60%;
    top: 41%;
    left: 2%;
    cursor: pointer;
    @include respond-to($small-screen) {
      width: 24px;
      height: 24px;
      left: 1%;
    }
  }
  .right-arrow {
    width: 46.68px;
    height: 79.2px;
    flex-shrink: 0;
    position: absolute;
    top: 41%;
    right: 2%;
    cursor: pointer;
    @include respond-to($small-screen) {
      width: 24px;
      height: 24px;
      right: 1%;
    }
  }
  .image-count {
    position: absolute;
    bottom: 4%;
    right: 50%;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    @include respond-to($small-screen) {
      display: none;
    }
  }
}
.current-image {
  opacity: 1;
}
