.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  a {
    text-decoration: none;
    li {
      color: $main-color;
      text-align: right;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      @include respond-to($small-screen) {
        font-size: 12px;
        line-height: 142.6%;
        text-transform: uppercase;
      }
    }
  }
  .nav-active {
    text-decoration: underline;
    color: $main-color;
  }
}
