@import "./-settings";
@import "../components/navigation.scss";
@import "../components/header.scss";
@import "../components/logo.scss";
@import "../components/footer.scss";
@import "../components/banner.scss";
@import "../components/housingCard.scss";
@import "../components/dropDown.scss";
@import "./error.scss";
@import "./housingPage.scss";
@import "../components/housingGalerie.scss";
@import "../components/rating.scss";

// .layout {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   // justify-content: space-between;
//   // div {
//   //   flex: 1;
//   // }
// }
body {
  margin: 0;
}
.about-container {
  margin: 0px 20%;
  @include respond-to($small-screen) {
    margin: 0 5%;
  }
}
