@import "./-settings";
@import "../components/navigation/navigation.scss";
@import "../components/header/header.scss";
@import "../components/logo/logo.scss";
@import "../components/footer/footer.scss";
@import "../components/banner/banner.scss";
@import "../components/housingCard/housingCard.scss";
@import "../components/dropDown/dropDown.scss";
@import "./error/error.scss";
@import "./housingPage/housingPage.scss";
@import "../components/housingGalerie/housingGalerie.scss";
@import "../components/rating/rating.scss";

body {
  margin: 0;
}
.about-container {
  margin: 0px 20%;
  @include respond-to($small-screen) {
    margin: 0 5%;
  }
}
