footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: #000;
  height: 100px;
  padding-bottom: 0px;
  padding-top: 90px;
  margin-top: 50px;
  @include respond-to($small-screen) {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 0px;
    margin-top: 27px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    @include respond-to($small-screen) {
      font-size: 12px;
      line-height: 142.6%; /* 17.112px */
    }
  }
}
