.error-container {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  h1 {
    color: #ff6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
    margin: 0px;
    @include respond-to($small-screen) {
      font-size: 96px;
    }
  }
  p {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0px;
    text-align: center;
    @include respond-to($small-screen) {
      font-size: 18px;
      margin: 20px;
    }
  }
  a {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;
    padding-bottom: 139px;
    margin: 0px;
    @include respond-to($small-screen) {
      font-size: 14px;
    }
  }
}
